modules = ["java-graalvm22.3"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Spring Boot App"

[[workflows.workflow]]
name = "Spring Boot App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn spring-boot:run"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34225
externalPort = 3000

[[ports]]
localPort = 34463
externalPort = 3001
